{% extends "base.html" %}

{% block title %}
-Train 
{% endblock title %}

{% block content %}
<div class="bg-dark " style="position: absolute;width: 100%;height: 100%;left: 0;">
                <div class="navbar bg-dark">
                      <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                              <h4 style="color:#cccccc;"><a style="font-size: 30px;font-weight: bolder;text-decoration: none;" href="/">Sign Reader</a>|Train and Monitor the performance of your system</h4>
                            </li>
                      </ul>
                      <a href="/add" class="btn btn-outline-primary">Add Gestures</a>
                      <a href="/read" class="btn btn-primary">Detect</a>
                </div>
    
                <div class="container">
                                <div class="row" sstyle="height:30%;width: 100%">
                                                <h3 id="status" style="color: #cfe3f8">Model ready for training</h3>
                                </div>
                                <h2>Training Data</h2>
                                <div class="row card">Number of classes: {{ t_no_of_classes }}</div>
                                <div class="row card">Number of images: {{ t_total }}</div>
                                <div class="row card">
                                {% for entry in t_no_of_images_per_class %}
                                       {{entry}}
                                {% endfor %}
                                </div>
                                <hr>
                                <h2>Validation Data</h2>
                                <div class="row card">Number of classes: {{ v_no_of_classes }}</div>
                                <div class="row card">Number of images: {{ v_total }}</div>
                                <div class="row card">
                                {% for entry in v_no_of_images_per_class %}
                                       {{entry}}
                                {% endfor %}
                                </div>
                                <br>
                        <div class="row" sstyle="width: 100%">

                                <button class="btn btn-outline-warning" onclick="train()">train</button>
                                <form>
                                        {% csrf_token %}
                                </form>
                                
                        </div>   
                </div>
</div>

<script>
        function train() {
                var statusbar=document.getElementById("status")
                statusbar.innerHTML="Model training......."
                statusbar.style="color:#008080;";
                $.ajax({
                        method: 'POST',
                        url: '',
                        data: {
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        },
                        success:function uploaded(data){
                                 statusbar.innerHTML=data;
                                 statusbar.style="color:#0069d9;";

                        }
                    });
                }
                
                
                </script>

{% endblock content %}